version: '3.1'
services:
  db:
    image: postgres:12-buster
    restart: always
    environment:
      POSTGRES_USER: takeoutapp
      POSTGRES_PASSWORD: takeoutapp
      POSTGRES_DB: takeout_app_development
    ports:
      - '127.0.0.1::5432'
